<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>319915E1-BEBB-3E9B-A530-C6FF29624301</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
