<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GUID</key>
	<string>91B0CADF-C371-F496-684C-077C17D7778D</string>
	<key>Layout Version</key>
	<integer>1</integer>
</dict>
</plist>
